.card {
  border-radius: 5px;
  display: inline-block; /* Display cards as inline-block to show them in a row */
  margin-right: 20px; /* Add some space between cards */
  margin-bottom: 20px; /* Add some space below cards */
}

.header {
  border-radius: 5px;
  padding: 50px;
  border: 1px solid #ccc;
  background-color: #777984;
}

.title {
  font-weight: bold;
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 350px; /* Set a width for the card */
  height: 100%; /* Set a height for the card */
}

.listItem {
  background-color: rgb(192, 196, 209);
  color: black;
  padding: 40px;
  border: 1px solid #fcfcfc;
  font-weight: bold;
}
