.card {
  border-radius: 5px;
}

.header {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px; /* Space between title and list */
}

.title {
  font-weight: bold; /* Make the font weight bold */
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px; /* Increase space between list items */
  font-weight: bold; /* Make the font weight bold */
}
