.card {
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.header {
  border-radius: 5px;
  padding: 50px;
  border: 1px solid #ccc;
}

.title {
  font-weight: bold;
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgb(192, 196, 209);
  height: 680px;
  overflow-y: auto;
}

.listItem {
  border-radius: 5px;
  margin: 5px 7px;
  background-color: rgb(224, 225, 228);
  color: black;
  padding: 40px;
  width: 250px;
  border: 1px solid #fcfcfc;
  font-weight: bold;
  cursor: pointer;
  overflow: visible;
}

.btn {
  border-radius: 5px;
  padding: 10px;
  margin: auto; /* Center the button horizontally */
  margin-top: auto; /* Align the button to the bottom */
  margin-bottom: 20px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: rgb(74, 83, 112);
}

.btn:hover {
  background-color: rgb(54, 62, 86);
}
